/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

*{
  font-family: 'Source Sans Pro', sans-serif;
}
.top {
  border-bottom: 1.5px solid lightgray;
}
.logo-bosch {
  height: 100px;
  width:auto;
}
.fa-bars{
  font-size:40px;
  left: 1em;
  position: relative;
  /* top: 0.8em; */
}
.round {
  height: 60px;
  width:auto;
  position:relative;
  /* bottom: 1em; */
  right: 0.5em;
}

.right-info >li {
  margin: 0 1em;
  color: gray;
}
.sensor {
  display: inline-block;
  margin-right: 0.5rem;
  color: #707070;
  background-color: #FFFFFF;
  padding: 3rem;
  
}

.sensor h2 {
  font-size: 1.5rem;
  font-weight: 200;
}

span.value {
  font-size: 3rem;
}

.sensors {
  padding: 3rem;
  background-color: #f5f5f5;
}

