/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

*{
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}

.img-fluid{
  height: 15px;
  width: 100%;
}

/* .top {
  border-bottom: 1.5px solid lightgray;
} */
.logo-bosch {
  height: 100px;
  width:auto;
}
/* .monitoring{
  left: 330px;
  position: relative;
} */
.fa-bars{
  color: gray;
  font-size:40px;
  /* left: 1em; */
  /* top: 0.8em; */
}
.round {
  border-radius: 50%;
  height: 60px;
  width:auto;
  position:relative;
  /* bottom: 1em; */
  /* right: 0.5em; */
}
.name{
  text-align: right;
}

.personal-info{
  color: gray;
  text-align: right;
}

.personal-info i{
  margin: 0 1em;
}

.line{
  border-bottom: 1.5px solid gray;
  margin: 1em;
}

@media screen and (max-width:480px){
  .name h3{
    font-size: 1rem;
}
}
@media screen and (min-width: 480px) and (max-width:780px){
  .name h3{
      font-size: 1.2rem;
}
}
.sensor {
  border-right: 4px solid lightgray;
  display: inline-block;
  /* margin-right: 0.2rem;  */
  color: #707070;
  background-color: #FFFFFF;
  border-bottom: 1px solid #707070;
  /* padding: 3rem; */

}

.luminosity{
  border-right: none;
}

.sensor h2 {
  font-size: 1.6rem;
  font-weight: 200;
  text-align: center;
}

span.value{
  font-size: 2rem;
}

.sensors {
  padding: 3rem;
  background-color: #f5f5f5;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

@include media-breakpoint-up(md){
.sensor > h2 {
  font-size: 1rem;
}
span.value {
  font-size: 1.5rem;
}
}

.final{
  margin-top: 3em;
}
h6{
  font-weight: 600;
}

h4{
  font-weight: 300;
}

.iconos i{
  border: 1px solid black;
  border-radius: 50%;
  font-size: 15px;
  color: black;
  margin: 0.2em;
  padding: 10px;
}

#facebook{
  padding: 10px 13px;
}

.touch-text{
  font-size: 14px;
  margin-bottom: 0;
}

.bosch-link{
  font-size: 14px;
}

.bottom-text span{
  font-size: 14px;
  margin: 1em;
}

.strong{
  font-weight: 800;
}

i.notification-icon {
  font-size: 1.2rem;
  margin-right: 1rem;
}